[Unit]
Description=Update Checker

[Service]
Type=oneshot
ExecStartPre=/usr/bin/truncate -s 0 /home/robert/.cache/i3blocks/updates
ExecStart=/home/robert/.local/bin/checkupdates.sh
StandardOutput=file:/home/robert/.cache/i3blocks/updates
StandardError=journal

[Install]
WantedBy=default.target
