[Unit]
Description=Download weather data 5 minutes after boot and every 30 minutes

[Timer]
OnBootSec=5min
OnUnitActiveSec=30min

[Install]
WantedBy=default.target
